.md-background--primary {
  background-color: transparent;
}

.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}

@media screen and (min-width: 768px) {
  .main-conten .md-drawer-relative {
      margin-left: 200px;
  }
}
