@import '~react-md/src/scss/react-md';
$md-primary-color: $md-grey-400;
$md-secondary-color: $md-red-800;
$md-tertiary-color: $md-grey-300;

.main-container,
.darker-background {
    background-color: #fff;
}

a:link {
    // color: $md-secondary-color;
    text-decoration: none;
}

h1 {
  font-family: "AvenirRegular", sans-serif !important;
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 40px;
  font-weight: 100 !important;
  color: #70e4d0 !important;
}

p {
  font-size: 18px !important;
  font-family: "AvenirRegular", sans-serif !important;
}

.call {
  background-color: #7fe7d7;
  color: #fff;
  padding: 10px 20px;
  display: inline;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  margin: 40px 0;
}
.call:hover {
  opacity: 0.8;
}

h2 {
  margin: 40px 0 30px;
}
